
.c-section{
    position:relative;
}
.c-hero{
    display:flex;
    position: relative;
}
.c-hero--support{
    display:block;
    padding-bottom: 0px;
    z-index: 10;
}
.c-container{
    max-width:1920px;    
    margin:0 95px;
    position:relative;
}

.c-hero__body{
    margin:0 auto;
    padding:260px 0 80px;
    width:100%;   
    text-align: center;
}
.c-hero__heading{
    max-width:517px;
    text-align: center;
    margin-inline:auto;
}
.c-contact{
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
}

.c-head{
font-weight: 700;
font-size: 57px;
line-height: 86px;
color: #044AFF;

}
.c-para{

font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */
color: #000922;
margin-bottom:80px;
}

.cards_contactCard{
    background: #044AFF;
    border-radius: 24px; 
    padding: 50px 98px;
    border:none;
}
.cards_contactCard p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 36px;
color: #ffff;
margin-top:0px;
margin-bottom:16px;
    display:block;
}
.c-grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:19px;
}

@media screen and (max-width:1280px) {
  .cards_contactCard{
    padding:40px 20px;
  }
  .cards_contactCard p{
    font-size:20px;
  }
}

@media screen and (max-width:920px) {
  .c-grid{
    grid-template-columns: 1fr;
  }
  
}

/* *************SECTION2****************** */

.c-section2{
    background-color: #F5F8FF;
}
  
  .form-container {
    width:  1239px;
   margin-bottom:40px;
    margin: auto;
    /*
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    */
   
  }
  .contact-head{
    padding-top:40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #000000;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin:40px 213px 40px 210px ;
  }  
  .success-message {
    font-family: "Roboto", sans-serif;
    background-color: #3f89f8;
    padding: 15px;
    color: white;
  }
  
  label,input{
    display:inline-block;
  }
  
  .form-field {   
   
    font-size: 16px;    
    font-family: "Roboto", sans-serif;
    border: 1px solid  #18AB15;
     border-radius: 8px;
  }

  .form-group{
    display:flex;
    flex-direction:column;
    
  }
  .form-group>input{
    padding:28px;
    width:400px;
    background-color: #F5F8FF;
  }
  .form-div{
display:flex;
flex-direction: row;
gap:19px;
padding-bottom: 24px;
  }
  span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: red;
    margin-bottom: 15px;
  }
  
  
 
  .error {
    border-style: solid;
    border: 2px solid #ffa4a4;
  }  
  form> .form-field {
    background: #044AFF;
    color: white;
    cursor: pointer;
    width: 816px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 28px;
padding:24px;
    
  }
  
  button:disabled {
    cursor:default}

    #msg-box{
        border-color:  #666666;
        background-color: #F5F8FF;
        height:192px;
        margin-bottom:30px;
        
    }
    form>label{
        margin:0px;
     }
     @media screen and (max-width:600px){
      
     }

    @media screen and (max-width:600px){
label,input{
  width:100%;
  
}
.form-group>input{
  padding:20px;
}
.form-div{
  flex-direction:column;
}
.contact-form{
  margin-right:70px;
  margin-left:70px;
}
#msg-box{
  width:400px;
}
form>.form-field{
  width:400px;
 
}
.contact-head{
  font-size:30px;
  text-align: left;
  padding-left: 50px;
}
.form-field{
  border: 2px solid  #18AB15;
}
      
    }
    
    /*===================section 3 ========================================*/
   
   .c-section3{
    margin-top:80px;
    padding-bottom:40px;
   }
    .c-complaint{
      display:flex;
      position: relative;
  }
  .c-c--support{
      display:block;
      
      z-index: 10;
  }
  .c-c-container{
      max-width:1920px;    
      margin:0 122px;
      position:relative;
  }

  .c-com__body{
    margin:0 auto;    
    width:100%;   
    text-align: center;
}
.cards_complaintCard{

  font-family: 'Poppins';
  font-style: normal; 
  padding: 54px 29px;
background: #FFFFFF;
border: 1px solid #B1C7FF;
border-radius: 22px;
color: #000000;
text-align:left;
}

  .c-c-grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:34px;
}
.cards_complaintCard h2{
 
font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height, or 138% */
letter-spacing: -0.03em;



}

.cards_complaintCard p{
font-weight: 500;
font-size: 16px;
line-height: 30px;
/* or 188% */
letter-spacing: -0.02em;

height:60px;
margin:30px auto;

}

.cards_complaintCard a{
  font-weight: 600;
font-size: 16px;
line-height: 16px;
/* identical to box height, or 100% */
padding:10px;
}

@media screen and (max-width:920px) {
 
  
  .c-c-grid{
    
    grid-template-columns: 1fr;
    
}

.c-c-container{
  margin:70px;
}
.cards_complaintCard{
  text-align: center;
}

  
}

@media screen and (max-width:1150px) {
  .c-c-container{
    margin:70px;

  }
  .cards_complaintCard a{
font-size:14px;
  }
  .cards_complaintCard h2{
font-size:20px;
  }

    .cards_complaintCard p{
font-size:14px;
    }

}