.FAQ-section{

}

.FAQ-container{
    margin-left:80px;
    margin-right:80px;

}


.FAQ-header{
    margin-top:115px;
    margin-inline:auto;
    text-align:center;
}


.FAQ-header>h1{
    font-size:57px;
  padding-top:59px;
  color: var(--color-primary-blue-blue-500, #044AFF);
text-align: center;
font-family: Poppins;
font-size: 57px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.FAQ-header>p{
    color: var(--color-neutral-black, #000);
text-align: center;

/* Typography / Headline / Small */
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 133.333% */

}

.FAQ-body{
    margin-top:50px;
}
.dropdown-container{
    display:flex;
    flex-direction:column;
    width:90%;
    
    padding:15px 25px;
    justify-content:space-between;
    align-items:flex-start;
    border: 1px solid var(--color-black, #000);
background: #FFF;
margin-top:30px;
}

.FAQbox-3{
    margin-bottom: 80px;
}
.question{
    color: var(--color-black, #000);

    /* Typography / Headline / Medium */
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 128.571% */
}

.css-b62m3t-container{
    width:100%;
}



@media screen and (max-width:950px){
h1{
    font-size:32px;
}
p{
    font-size:1rem;
}
.dropdown-container{
    width:100%;
    padding:10px 20px;
}
.dropdown-container FAQbox-2{
    width:100%;    
    }
    .dropdown-container FAQbox-3{
        width:100%;
       
        }

.question{
    font-size:small;
    line-height: none;
}
.dropdown{
    width:105%;
font-size:.75rem;
}

.FAQ-container{
    margin-left:20px;
    margin-right:20px;
}
    
}
@media screen and (max-width:350px){
    

    
}
@media screen and (max-width:400px){

    
}