nav {
    height: 115px;
    width: 100vw;
   background-color:#000272;
    display: grid;
    place-items: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 99;
}
.nav_toggle-btn{
    display:none; 
}
.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
   font-size: 32px;
   color:#044AFF;
}

.nav__links {
    display: flex;  
    align-items: center;
    color: var( --color-primary);
    font-weight: 600;   
    
}
.nav__links a {
    color: var(--color-primary);
   transition: var(--transition);
    padding-right:50px;
}
.nav__links a:hover {
    color:  #044AFF;
}
.nav__btn{
    display: flex;
    gap: 1.2rem;
}
.active-nav{
    color:var(--color-secondary);
}
.nav__btns-login{
    background:  var(--color-secondary);
    border: 2px solid var(--color-secondary);
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-primary-variant);
    padding: 10px 42px;
    border-radius: 4px;
   
}

.nav__btns-createAccnt {
    background: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-primary-variant);
    padding: 10px 42px;
    border-radius: 4px;
    
}

/*MEDIA QUERIES (only for medium and small screens)*/


@media screen and (max-width:1024px){
    .nav_toggle-btn{
        display:inline-block;
        background:transparent;
        font-size: 3rem;
        cursor:pointer;       
    }
    .nav_toggle-btn svg{
        color:var( --form-title);
    }
    .nav__links{
        display:flex;
        flex-direction:column;  
        justify-content:center;     
        position:absolute;
        top:100%;
        right:0px;        
        /*background-color: var(--home-hero-color);*/
        background-color: #8DCBE6;
      box-shadow:0 8px 32px 0 rgba(31,38,135,.37);
        border-radius:10px;
    }    
        .nav__links li{
        display:block;
        height:4rem;
        width:100%;
       /* box-shadow:-2rem 2rem 5rem rgba(0,0,0,.4);  */
        box-shadow: -1.5rem 0.5rem 3.5rem rgb(0 0 0 / 30%);       
    }
.nav__links li a{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    padding:1rem 7.1rem 1rem 3rem;    
}
.nav__links li:hover{
    background:var(--home-hero-2-color);    
}

.nav__btn{        
    flex-direction:column;
    gap:0rem;
    justify-content:center;     
    position:absolute;
    top:315%;
    right:0px;        
    background-color: #8DCBE6;
    box-shadow:0 8px 32px 0 rgba(31,38,135,.37);
    border-radius:10px;
}
.nav__btn li a{
    display:block;
    height:4rem;
    width:100%;
   /* box-shadow:-2rem 2rem 5rem rgba(0,0,0,.4);*/
    box-shadow:-0.25em 0.25rem 7rem rgb(0 0 0 / 40%);

}
.nav__btn li .nav__btns-login, .nav__btns-createAccnt{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    padding:1rem 2.5rem 1rem 3rem;
    background-color: #8DCBE6;   
    border:none;
    color: var(--color-primary);
    font-weight: 600;   
    
}
.nav__btn li .nav__btns-login:hover{
    background:var(--home-hero-2-color);    
}
.nav__btn li .nav__btns-createAccnt:hover{
    background:var(--home-hero-2-color);    
}
.show__nav{
    display:flex;
}
.hide__nav{
    display:none;
}

}





/*nav {
    height: 115px;
    width: 100vw;
    background: none;
    display: grid;
    place-items: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 99;
}
.nav_toggle-btn{
    display:none; 
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo{
   font-size: 32px;
   color:#044AFF;
}
.nav__links {
    display: flex;
    gap: 3.5rem;
    align-items: center;
    color: var(--color-primary-variant);
    font-weight: 600;
}
.nav__links a {  
    transition: var(--transition);
}

.nav__links a:hover {
    color:  #044AFF;
}
  
.active-nav  {
    color: #044AFF;
   
}
.inactive-nav{ 
    color:var(--color-primary);
}

.inactive-nav-home{
    color:#ffff;
}

.active-nav::after {
    color: #141415;   
}

.nav__btn{
    display: flex;
    gap: 1.2rem;
}

.nav__btns-login{
    background:  var(--color-secondary);
    border: 2px solid var(--color-secondary);
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-primary-variant);
    padding: 10px 42px;
    border-radius: 4px;
}
.nav__btns-createAccnt {
    background: var(--color-secondary);
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-primary-variant);
    padding: 10px 42px;
    border-radius: 4px;
}

*/

/*MEDIA QUERIES (only for medium and small screens)*/
/*

@media screen and (max-width:1024px){
    .nav_toggle-btn{
        display:inline-block;
        background:transparent;
        font-size: 1.8rem;
        cursor:pointer;
       
    }
    .nav_toggle-btn svg{
        color:var( --placeholder-color)
    } 

}

*/