/**********Actual navbar css starts***********/


nav {
    height: 115px;
    width: 100vw;
   background-color:#0A2647;
    display: grid;
    place-items: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 99;
}
.nav_toggle-btn{
    display:none; 
}
.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
   font-size: 32px;
   color:#044AFF;
}

.nav__links {
    display: flex;  
    align-items: center;
    color: var( --color-primary);
    font-weight: 600;   
    
}
.nav__links li{
padding-right:50px;
}
.nav__links a{
    color: var(--color-primary-variant);
   transition: var(--transition);
   
}
.nav__links :hover {
    color:  #044AFF;
}
.nav__btn{
    display: flex;
    gap: 1.2rem;
}
.nav__btn li{
    background: var(--color-secondary);
    border: 2px solid var(--color-secondary);
    padding: 16px 36px;
    border-radius: 4px;
}


.active-nav{
    color:var(--color-secondary);
}
/*
.nav__btns-login{
 
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-primary-variant);
    
   
}
*/
.nav__btns-login:hover{
    color:white;
}
 .nav__btns-createAccnt:hover{
    color:white;

 }
 
/*
.nav__btns-createAccnt {
    
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-primary-variant);
  
}
*/

/*MEDIA QUERIES (only for medium and small screens)*/

@media screen and (max-width:1350px){
.nav__btn li{
    padding:10px 16px;
}
}


@media screen and (max-width:1092px){
    .nav_toggle-btn{
        display:inline-block;
        background:transparent;
        font-size: 3rem;
        cursor:pointer;       
    }
    .nav_toggle-btn svg{
        color:var( --form-title);
    }
    
    .nav__links{
        display:flex;
        flex-direction:column;  
        justify-content:center;     
        position:absolute;
        top:100%;
        right:0px;        
        background-color: #6096B4 ;
        border-radius:10px;  
    } 
       
        .nav__links li{
        display:block;
        height:4rem;
        width:100%;
        box-shadow: -1.5rem 0.5rem 3.5rem rgb(0 0 0 / 30%);   
    }
    
.nav__links li a{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    padding:1rem 7.1rem 1rem 3rem;  
   
}

.nav__links li:hover{
    background:var(--home-hero-2-color);    
}

.nav__btn{        
    flex-direction:column;
    gap:0rem;
    justify-content:center;  
    border-radius:10px;
}
.nav__btn li{
    border:none;
    padding:0px;
    background: #6096B4 ;
}

.nav__btn li a{
    display:block;
    height:4rem;
    width:100%;
    box-shadow:-0.25em 0.25rem 7rem rgb(0 0 0 / 40%); 
 }

 
.nav__btns-login{
    padding:0px;    
}
.nav__btns-createAccnt{
    padding:0px;        
}
.nav__btn  .nav__btns-login, .nav__btns-createAccnt{
   height:100%;
    width:100%;
    display:flex;
    align-items: center;
    background-color: #6096B4  ; 
    border:none;
    font-weight: 600;     
  }

  .nav__btns-login:hover{
    background:var(--home-hero-2-color);    
}
.nav__btns-createAccnt:hover{
    background:var(--home-hero-2-color);    
}

.show__nav{
    display:flex;
}
.hide__nav{
    display:none;
}

}


