
nav {
    height: 115px;
    width: 100vw;
   
    display: grid;
    place-items: center;
    position: fixed;
    top:0;
    left:0;
    z-index: 99;

}
.nav_toggle-btn{
    display:none; 
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo{
   font-size: 32px;
   color:#044AFF;

}


/*Navlinks color change for Homepage */

.nav__linksHome {
    display: flex;  
    align-items: center;
    color: var(--color-primary-variant);
    font-weight: 600;   
    
}

.nav__linksHome a {
    color:var(--color-primary-variant);
    transition: var(--transition);
    padding-right:50px;
}

.nav__linksHome a:hover {
    color:  #044AFF;
}
.nav__btn{
    display: flex;
    gap: 1.2rem;
}
.active-nav{
    color:var(--color-secondary);
}
.nav__btns-login{
    background:  var(--color-secondary);
    border: 2px solid var(--color-secondary);
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-primary-variant);
    padding: 10px 42px;
    border-radius: 4px;
}
.nav__btns-login:hover{
    cursor:pointer;
}
.nav__btns-createAccnt {
    background: var(--color-secondary);
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-primary-variant);
    padding: 10px 42px;
    border-radius: 4px;
}
.nav__btns-createAccnt:hover{
    cursor:pointer;
}


/*MEDIA QUERIES (only for medium and small screens)*/


@media screen and (max-width:1024px){
    .nav_toggle-btn{
        display:inline-block;
        background:transparent;
        font-size: 3rem;
        cursor:pointer;       
    }
    .nav_toggle-btn svg{
        color:var( --form-title);
    }
    .nav__linksHome {
        display:flex;
        flex-direction:column;  
        justify-content:center;     
        position:absolute;
        top:100%;
        right:0px;        
        background-color: var(--home-hero-color);
        box-shadow:0 8px 32px 0 rgba(31,38,135,.37);
        border-radius:10px;
    }
    .nav__linksHome li{
        display:block;
        height:4rem;
        width:100%;
        box-shadow:-2rem 2rem 5rem rgba(0,0,0,.4);    
        
    }
.nav__linksHome li a{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    padding:1rem 2.5rem 1rem 3rem;
    
}

.nav__linksHome li:hover{
    background:var(--home-hero-2-color);    
} 
.show__nav{
    display:flex;
}
.hide__nav{
    display:none;
}

}



