h1.main-heading{
    font-family: poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 4rem;
    line-height: 120%;
    color: #044AFF;
    text-align :left;
    margin-top: 284px  ;
    margin-left : 120px;

}