@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&family=Poppins:wght@900&display=swap');



*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-primary: #172A69;
    --color-primary-variant: #fff;
    --color-secondary: #044AFF;
    --color-white: #ffff;


    --container-width-lg: 85%;
    --container-width-md: 90%;
    --container-width-sm:90%;


    --bg-color: #2e53d2;
     --bg-2-color: #172a69;
    --icon-color: #ffffff;
    --link-color: #fdfdfd;
    --title-color: #fefefe;
    --home-hero-color: #d5ddf6;
    --home-hero-2-color: #b9c6f0;
    --grey-color: #0b0b0b;
    --btn-color: #ffc056;
    --placeholder-color: #9a9a9a;
    --form-title: #575757;
    --body--text-color: #2c2c2c;

    --transition: all 500ms ease;

    --fs-large: 48px;
    --fs-big: 36px;
    --fs-medium: 24px;
    --fs-small: 16px;

    --fw-large: 700;
    --fw-big: 600;
    --fw-small: 400;


}

/* ====General Styles ======== */
body{
    font-family: 'Poppins', sans-serif;
    text-align:center;
    line-height: 1.7;
    overflow-x: hidden;
    background-image: url(./images/Loginbackground.png);
    background-position: cover;
    scroll-behavior: smooth;
}
.container {
    width: var(--container-width-lg);
    max-width: 1920px;
    margin-inline: auto;
    position:relative; /**Added by reshma**/
}


/*****Added by Reshma********/

@media screen and (max-width:980px) /***changed from max-width:500px ***/
{
    .container{
        width:var( --container-width-sm);
        padding:0 16px; /**changed from padding:0 20px**/
    }
}
section{
    display:block;
    margin-top:40px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


p{
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}


@media screen and (max-width: 600px){
html {
    font-size: 58%;
}
}